html {
  font-size: 62.5%;
}
body {
  background-color: black;
  text-align: center;
  margin: 8rem auto;
}

.cornerOne {
  background-color: white;
  width: 10rem;
  height: 10rem;
  border-radius: 10%;
  position: relative;
  font-size: 1rem;
  position: relative;
}
.cornerTwo {
  background-color: white;
  width: 10rem;
  height: 10rem;
  border-radius: 10%;
  position: relative;
  font-size: 1rem;
  position: relative;
}
.cornerThree {
  background-color: white;
  width: 10rem;
  height: 10rem;
  border-radius: 10%;
  position: relative;
  font-size: 1rem;
  position: relative;
}
.cornerFour {
  background-color: white;
  width: 10rem;
  height: 10rem;
  border-radius: 10%;
  position: relative;
  font-size: 1rem;
  position: relative;
}
.sideTop {
  background-color: white;
  width: 10rem;
  border-radius: 10%;
  height: 10rem;
  position: relative;
  font-size: 1rem;
  position: relative;
}
.sideLeft {
  background-color: white;
  border-radius: 10%;
  width: 10rem;
  height: 10rem;
  position: relative;
  font-size: 1rem;
  position: relative;
}
.sideRight {
  background-color: white;
  border-radius: 10%;
  width: 10rem;
  height: 10rem;
  position: relative;
  font-size: 1rem;
  position: relative;
}
.sideDown {
  background-color: white;
  border-radius: 10%;
  width: 10rem;
  height: 10rem;
  position: relative;
  font-size: 1rem;
  position: relative;
}
.center {
  background-color: white;
  border-radius: 10%;
  width: 10rem;
  height: 10rem;
  position: relative;
  font-size: 1rem;
  position: relative;
}

@media (min-width: 250px) {
  html {
    font-size: 15%;
  }
  .cornerOne,
  .cornerTwo,
  .cornerThree,
  .cornerFour,
  .sideTop,
  .sideLeft,
  .sideRight,
  .sideDown,
  .center {
    font-size: 0.2rem;
  }
}
@media (min-width: 320px) {
  html {
    font-size: 36%;
  }
  .cornerOne,
  .cornerTwo,
  .cornerThree,
  .cornerFour,
  .sideTop,
  .sideLeft,
  .sideRight,
  .sideDown,
  .center {
    font-size: 4rem;
  }
}
@media (min-width: 481px) {
  html {
    font-size: 23%;
  }
  .cornerOne,
  .cornerTwo,
  .cornerThree,
  .cornerFour,
  .sideTop,
  .sideLeft,
  .sideRight,
  .sideDown,
  .center {
    font-size: 0.7rem;
  }
}
@media (min-width: 641px) {
  html {
    font-size: 30%;
  }
  .cornerOne,
  .cornerTwo,
  .cornerThree,
  .cornerFour,
  .sideTop,
  .sideLeft,
  .sideRight,
  .sideDown,
  .center {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  html {
    font-size: 32%;
  }
  .cornerOne,
  .cornerTwo,
  .cornerThree,
  .cornerFour,
  .sideTop,
  .sideLeft,
  .sideRight,
  .sideDown,
  .center {
    font-size: 1.3rem;
  }
}
@media (min-width: 961px) {
  html {
    font-size: 37%;
  }
  .cornerOne,
  .cornerTwo,
  .cornerThree,
  .cornerFour,
  .sideTop,
  .sideLeft,
  .sideRight,
  .sideDown,
  .center {
    font-size: 1.7rem;
  }
}
@media (min-width: 1025px) {
  html {
    font-size: 48%;
  }
  .cornerOne,
  .cornerTwo,
  .cornerThree,
  .cornerFour,
  .sideTop,
  .sideLeft,
  .sideRight,
  .sideDown,
  .center {
    font-size: 2rem;
  }
}
@media (min-width: 1281px) {
  html {
    font-size: 60.5%;
  }
  .cornerOne,
  .cornerTwo,
  .cornerThree,
  .cornerFour,
  .sideTop,
  .sideLeft,
  .sideRight,
  .sideDown,
  .center {
    font-size: 4rem;
  }
}


#overlay {
  position: fixed;
  left: 0;
  right: 0;
  margin: 1rem auto;
  display: none;
  background-color: rgba(0,0,0,0.8);
  z-index: 20;
  cursor: pointer;
  width: 40rem;
  height: 40rem;
}

.login-form{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#players-input{
  width: 200px;
  padding: 20px;
  font-size: 2rem;
}

.form-submit{
  margin-top: 20px;
  padding: 10px;
  width: 150px;
  font-size: 1.5rem;
}

